@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Josefin Sans;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #ff3cac 24%,
    #784ba0 49%,
    #2b86c5 75%,
    #ffffff 100%
  );
}

#hero {
  background-image: url('./assets/images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 810px) {
  #hero {
    background-image: url('./assets/images/mobile/image-hero.jpg');
    background-position: center;
  }
}

.hamburger {
  cursor: pointer;
  width: 25px;
  height: 25px;
  transition: all 0.5s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 25px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
